@charset "UTF-8";

.boardTable {
	border-collapse: collapse;
    width: 100%;
}

.boardTable tr, .boardTable td {
	border: 1px solid #ddd;
	padding: 8px;
}

.boardTable tr td:nth-child(1) {
	background: #ddd;
	text-align: center;
}

.boardTable tr:nth-child(3) {
	height: 250px;
}

.boardTable tr:nth-child(3) td textarea {
	height: 250px;
}

.boardTitle {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

.btnDiv {
	margin-top: 10px;
	margin-right: 5px;
	text-align: right;
}

.boardTd {
	width: 300px;
}